.env
.DS_Store
data/IMG_VALID
.vscode/
notebooks/.ipynb_checkpoints
logs/
__pycache__/
.venv/
mlruns/
notebooks/dataset
deployment/.env
yolov8-container-inspection/.gitattributes
snowflake_deployment/.env
DISK_SPACE_ANALYSIS.md